<div class="toolbar">
  <div class="row" style="padding:25px">
    <div class="col-md-6 col-sm-4">
      <img width="30%" (click)="sidemenu()" alt="Angular Logo" src="assets/images/shikshalokam.png" />
    </div>

    <div class="col-md-4 col-sm-8" style="padding:15px">
      <div class="row font-weight-bold">
        <div class="col-md-2">
           <a [routerLink]="['']" class="active">
            Home</a>
        </div>
        <div class="col-md-5" style="padding-left: 54px;">
            <a [routerLink]="['/user/user']" class="active">
             Create Users</a>
         </div>
         <div class="col-md-5">
            <a [routerLink]="['']" class="active">
             Assign Users</a>
         </div>
      </div>

      <!-- <h3 style="text-align: center;">Program Portal</h3> -->
    </div>
    <div class="col-md-2 col-sm-12 atext">
      <a class="space" target="_blank" rel="noopener" href="" title="Search">
        <span><i class="pi pi-search"></i></span>
      </a>
      <a class="space" target="_blank" rel="noopener" href="" title="Notifications">
        <span><i class="pi pi-bell"></i></span>
      </a>
      <a class="space" target="_blank" rel="noopener" href="" title="User">
        <span><i class="pi pi-user"></i></span>
      </a>
    </div>
  </div>
</div>

<!-- <div class="dashboard-header">
  <div class="mobile-header">
    <button class="hamburger-menu btn" (click)="ToggleSideMenu()">
      <svg id="ham-line" class="ham hamRotate ham1" viewBox="0 0 100 100" width="40" (click)="ToggleActive()">
        <path class="line top"
          d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
        <path class="line middle" d="m 30,50 h 40" />
        <path class="line bottom"
          d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
      </svg>
    </button>
    <span class="mobile-logo"><a href="#"><img src="../../../assets/images/shikshalokam.png" alt="logo" /></a></span>
  </div>
  <h2>{{title}}</h2>
  <div class="header-right" id="toggleSearch">
    <div class="search-box">
      <input type="text" class="search-inp" placeholder="search" />
      <button type="button" class="btn search-btn" (click)="ToggleState()">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 451 451">
          <g>
            <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3
                            s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4
                            C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3
                            s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z" />
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </button>
    </div>
    <div class="notification-box dropdown">
      <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
        <svg version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512">
          <g>
            <g>
              <path d="M467.819,431.851l-36.651-61.056c-16.896-28.181-25.835-60.437-25.835-93.312V224
      c0-82.325-67.008-149.333-149.333-149.333S106.667,141.675,106.667,224v53.483c0,32.875-8.939,65.131-25.835,93.312
      l-36.651,61.056c-1.984,3.285-2.027,7.403-0.149,10.731c1.899,3.349,5.461,5.419,9.301,5.419h405.333
      c3.84,0,7.403-2.069,9.301-5.419C469.845,439.253,469.803,435.136,467.819,431.851z M72.171,426.667l26.944-44.907
      C118.016,350.272,128,314.219,128,277.483V224c0-70.592,57.408-128,128-128s128,57.408,128,128v53.483
      c0,36.736,9.984,72.789,28.864,104.277l26.965,44.907H72.171z" />
            </g>
          </g>
          <g>
            <g>
              <path d="M256,0c-23.531,0-42.667,19.136-42.667,42.667v42.667C213.333,91.221,218.112,96,224,96s10.667-4.779,10.667-10.667
      V42.667c0-11.776,9.557-21.333,21.333-21.333s21.333,9.557,21.333,21.333v42.667C277.333,91.221,282.112,96,288,96
      s10.667-4.779,10.667-10.667V42.667C298.667,19.136,279.531,0,256,0z" />
            </g>
          </g>
          <g>
            <g>
              <path d="M302.165,431.936c-3.008-5.077-9.515-6.741-14.613-3.819c-5.099,2.987-6.805,9.536-3.819,14.613
      c2.773,4.715,4.288,10.368,4.288,15.936c0,17.643-14.357,32-32,32c-17.643,0-32-14.357-32-32c0-5.568,1.515-11.221,4.288-15.936
      c2.965-5.099,1.259-11.627-3.819-14.613c-5.141-2.923-11.627-1.259-14.613,3.819c-4.715,8.064-7.211,17.301-7.211,26.731
      C202.667,488.085,226.581,512,256,512s53.333-23.915,53.376-53.333C309.376,449.237,306.88,440,302.165,431.936z" />
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </div>
    <div class="message-box dropdown">
      <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 370.88 370.88">
          <g>
            <g>
              <path
                d="M355.6,66.16H15.28C6.841,66.16,0,73.001,0,81.44v208c0,8.439,6.841,15.28,15.28,15.28H355.6
      c8.439,0,15.28-6.841,15.28-15.28v-208C370.88,73.001,364.039,66.16,355.6,66.16z M15.28,78.16H355.6
      c1.436,0.007,2.7,0.947,3.12,2.32L185.44,188.72L12.16,80.48C12.58,79.107,13.844,78.167,15.28,78.16z M12,94.16L136.64,172
      L12,270.88V94.16z M358.88,289.36c0,1.812-1.469,3.28-3.28,3.28H15.28c-1.811,0-3.28-1.469-3.28-3.28v-3.2l135.44-107.04
      l34.8,21.76c1.955,1.233,4.445,1.233,6.4,0l34.8-21.76l135.44,107.04V289.36z M358.88,270.88l-124.96-98.56l124.96-77.44V270.88z" />
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>

    </div>
    <div class="username-dropdown dropdown">
      <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
        <span class="user-circle">
          <img src="../../../assets/images/profile.svg" alt="user" />
        </span>
        <span class="header-username"> Hi, John Smith </span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" data-toggle="modal" data-target="#changePaswordModal"><i class="la la-trash"></i>Change
          Password</a>
        <a class="dropdown-item" (click)="logout()"><i class="la la-trash"></i>Logout</a>

      </div>
    </div>

  </div>
</div> -->