<div class="footer row">
      <div class="col-md-4">
            <p>CONTACT US: No 733, 17th Cross, 24th Main</p>
            <p>JP Nagar, 6th Phase,Bangalore-560076</p>
            
      </div>
      <div class="col-md-4">
            <p>INFORMATION</p>
            <p>Privacy Policy: Terms and Conditions</p>
      </div>
      <div class="col-md-4">
            <p>Posted by: Hege Refsnes</p>
            <p>Contact information: <a href="mailto:someone@example.com">
                        someone@example.com</a>.</p>
      </div>
</div>