.ftoolbar{
    height: 90px;
    display: -webkit-box;
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    background-color: #a08d8d;
    color: #a63936;
    font-weight: 600;
    /* border-bottom: 1px solid var(--light-grey-color); */
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: right;
}

.footer {
    background-color: #a08d8d;
    /* padding: 25px; */
    text-align: center;
    /* margin-top: 10px; */
  }