<div class="login-section">
    <div class="login-overlay"></div>
    <div class="login-row">
        <div class="login-box">
            <div class="login-left">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab"
                            aria-controls="login" aria-selected="true" (click)="loginselect()">Log In</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div [ngClass]="{'active': true}" class="tab-pane fade show" id="login" role="tabpanel"
                        aria-labelledby="login-tab">
                        <div class="login-tab-content">
                            <h3>Log in to your account</h3>

                            <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmitLogin()">
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="text" formControlName="userName" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                        <div *ngIf="f.userName.errors.required">Email is required</div>
                                        <div *ngIf="f.userName.errors.email">Email must be a valid
                                            email address</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="position-relative">
                                        <input type="password" formControlName="userPassword" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }" />
                                        <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.userPassword.errors.required">Password is required
                                            </div>
                                            <div *ngIf="f.userPassword.errors.minlength">Password must be at
                                                least 6
                                                characters</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="forgot-password-link">
                                    <a [routerLink]="['/forgotpassword']">Forgot Password?</a>
                                </div> -->
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary login-btn">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>