.roundimg{
    font-size: 10em;
}
.title {
    font-weight: 800;
    color: #a63936;
    text-align: center;
}

.titlehead {
    font-weight: 800;
    text-align: center;
    margin-top: 3%;
    padding-right: 5%;
}
.ftitle{
    font-weight: 800;
    color: #a63936;
}
